
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}


<h1>Burası Admin Area, Buraya Hoşgeldiniz</h1>
<a asp-area="" asp-controller="Home" asp-action="Index">Blog Area Tıklayınız</a>

